@page {
  size: auto;
}

@media print{
  * {
    color: #5cdf72;
  }

  .not-print {
    display: none;
  }
  .shift-print {
    overflow: visible;
  }
  .container {
    left: 0;
    margin-left: 0px;
  }

  .content-print {
    border: none;
    padding: none;
    border-radius: none;
    margin-bottom: none;
  }

}

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
} 

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}


.bg-steel {
  background-color: #13a08d;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}


.working {
  background-color: white;
}

.not_working {
  background-color: silver;
}

/* .td {
  width: 10px;
} */

.table-fixed th:first-child, td:first-child {
  position: sticky;  position: -webkit-sticky;
  left: 0;
}