{% extends "layout.html" %}
{% block content %}


<div class="content-section text-nowrap">
  <h1>シフト表</h1><hr>
    <table class="table-responsive table-bordered table-fixed shift-print">
      <th class="table-primary">名前</th>
      {% for i in range(9,22): %}
          <th class="table-primary">{{ i }}:00</th>
      {% endfor %}
      
      {% for worker in workers :%}
        <tr>
          <td class="table-primary">{{ worker.workername }}</td> 
          {% for i in range(9,22): %}
          {% set ns = namespace(found = False) %}
          {% set ns = namespace(working = Flase) %}
          {% if worker.d_st.hour < i and i < worker.d_ed.hour: %}
            {% set ns = namespace(working = True) %}
          {% endif %}
          {% for shift in worker.indivshifts: %}
            {% if shift.starttime.hour == i :%}
              {% set ns.found = True %}
              <td class="working">{{ shift.jobname }}</td> 
            {% endif %}
          {% endfor %}
          {% if not ns.found :%}
            {% if not ns.working :%}
            <td class="not_working"></td>
            {% else: %}
            <td class="working"></td>
            {% endif %}
          {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}