{% extends "layout.html" %}
{% block content %}
{% set ns = namespace(cnt = 1) %}
{% set charaList = ['a','b','c'] %}
{% for chara in charaList %}
<h1>現在のcntは{{ns.cnt}}です</h1>
{% set ns.cnt = ns.cnt + 1 %}
{% endfor %}


{% set ns = namespace(cnt = 1) %}
{% for _ in range(0,3): %}
  {% set abc = namespace(found = False) %}
  {% set sdff = namespace(df = False) %}
  {% if 1 == ns.cnt :%}
    <p>{{ ns.cnt }}</p>
    {% set ns.cnt = ns.cnt+59 %}
    {% set abc.found = True %}
  {% endif %}
  {% if not abc.found :%}
    {{ ns.cnt }}
  {% endif %}
  {% set ns.cnt = ns.cnt + 1%}
{% endfor %}
{% endblock %}