{% extends "layout.html" %}
{% block content %}
  <table class="table table-bordered content-section">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">仕事名</th>
        <th scope="col">開始時間</th>
        <th scope="col">終了時間</th>
        <th scope="col">仕事の重要度</th>
        <th scope="col">必要人数</th>
      </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
      <tr>
        <th scope="row">{{ job.id }}</th>
        <td>{{ job.jobname }}</td>
        <td>{{ job.starttime }}</td>
        <td>{{ job.endtime }}</td>
        <td>{{ job.priorty }}</td>
        <td>{{ job.required_number }}</td>
        <td>
          <div class="btn-group">
            <form action="{{ url_for('edit_job',id = job.id)}}" method="GET">
              <button type="submit" class="btn btn-secondary">編集</button>
            </form>
            <form action="{{ url_for('delete_job',id = job.id)}}" method="GET">
              <button type="submit" class="btn btn-danger" style="margin-left: 5px;" style="margin-right: 5px;">削除</button>
            </form>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="content-section">
    <form method="POST" action="">
      {{ form.hidden_tag()}}
      <div class="form-group">
        <fieldset class="form-group">
          <div class="form-group">
            {{ form.jobname.label(class="form-control-label")}}
            {{ form.jobname(class="form-control form-control-lg") }}
            {% if form.jobname.errors %}
            <div class="invalid-feedback">
              {% for error in form.jobname.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.starttime_hour.label()}}
            {{ form.starttime_hour() }}
            {{ form.starttime_minutes.label()}}
            {{ form.starttime_minutes() }}
          </div>
          <div class="form-group">
            {{ form.endtime_hour.label()}}
            {{ form.endtime_hour() }}
            {{ form.endtime_minutes.label()}}
            {{ form.endtime_minutes() }}
          </div>
          <div class="form-group">
            {{ form.priorty.label(class="form-control-label")}}
            {{ form.priorty(class="form-control form-control-lg") }}
            {% if form.priorty.errors %}
            <div class="invalid-feedback">
              {% for error in form.priorty.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.required_number.label(class="form-control-label")}}
            {{ form.required_number(class="form-control form-control-lg") }}
            {% if form.required_number.errors %}
            <div class="invalid-feedback">
              {% for error in form.required_number.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </fieldset>
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
  </div>
{% endblock %}
