{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
    <legend>新規作成</legend>
    <form method="POST" action="">
      {{ form.hidden_tag()}}
      <div class="form-group">
        <fieldset class="form-group">
          <div class="form-group">
            {{ form.jobname.label(class="form-control-label")}}
            {{ form.jobname(class="form-control form-control-lg") }}
            {% if form.jobname.errors %}
            <div class="invalid-feedback">
              {% for error in form.jobname.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.starttime.label()}}
            {{ form.starttime() }}
          </div>
          <div class="form-group">
            {{ form.endtime.label()}}
            {{ form.endtime() }}
          </div>
          <div class="form-group">
            {{ form.required_number.label(class="form-control-label")}}
            {{ form.required_number(class="form-control form-control-lg") }}
            {% if form.required_number.errors %}
            <div class="invalid-feedback">
              {% for error in form.required_number.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.priority.label(class="form-control-label")}}
            {{ form.priority(class="form-control form-control-lg") }}
            {% if form.priority.errors %}
            <div class="invalid-feedback">
              {% for error in form.priority.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.weight.label(class="form-control-label")}}
            {{ form.weight(class="form-control form-control-lg") }}
            {% if form.weight.errors %}
            <div class="invalid-feedback">
              {% for error in form.weight.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="chosen-position">
            <p>役職ごとの振り分け優先度</p>
            <input type="checkbox" class="check" name="" value="True">
            <div class="check-appear">
              <div class="form-group time">
                {{ form.employee_priority.label()}}
                {{ form.employee_priority() }}
              </div>
              <div class="form-group time">
                {{ form.parttime_priority.label()}}
                {{ form.parttime_priority() }}
              </div>
              <div class="form-group time">
                {{ form.helper_priority.label()}}
                {{ form.helper_priority() }}
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
  </div>
{% endblock %}
