{% extends "layout.html" %}
{% block content %}
<div class="content-section">
<h1>{{worker.workername}}</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">日</th>
      <th scope="col">月</th>
      <th scope="col">火</th>
      <th scope="col">水</th>
      <th scope="col">木</th>
      <th scope="col">金</th>
      <th scope="col">土</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% if worker.Sunday %}
      <td>{{ worker.Sunstarttime}}〜{{ worker.Sunendtime }}</td>
      {% else: %}
      <td class="holiday"></td>
      {% endif %}
      {% if worker.Monday %}
      <td>{{ worker.Monstarttime}}〜{{ worker.Monendtime }}</td>
      {% else: %}
      <td class="holiday"></td>
      {% endif %}
      {% if worker.Tuesday %}
      <td>{{ worker.Tuestarttime}}〜{{ worker.Tueendtime }}</td>
      {% else: %}
      <td class="holiday"></td>
      {% endif %}
      {% if worker.Wednesday %}
      <td>{{ worker.Wedstarttime}}〜{{ worker.Wedendtime }}</td>
      {% else: %}
      <td class="holiday"></td>
      {% endif %}
      {% if worker.Thursday %}
      <td>{{ worker.Thustarttime}}〜{{ worker.Thuendtime }}</td>
      {% else: %}
      <td class="holiday"></td>
      {% endif %}
      {% if worker.Friday %}
      <td>{{ worker.Fristarttime}}〜{{ worker.Friendtime }}</td>
      {% else: %}
      <td class="holiday"></td>
      {% endif %}
      {% if worker.Saturday %}
      <td>{{ worker.Satstarttime}}〜{{ worker.Satendtime }}</td>
      {% else: %}
      <td class="holiday"></td>
      {% endif %}
    </tr>
  </tbody>
</table>
<div class="btn-group">
  <form action="{{ url_for('edit_worker',id = worker.id)}}" method="GET">
    <button type="submit" class="btn btn-secondary">編集</button>
  </form>
  <form action="{{ url_for('delete_worker',id = worker.id)}}" method="GET">
    <button type="submit" class="btn btn-danger" style="margin-left: 5px;" style="margin-right: 5px;">削除</button>
  </form>
</div>
</div>
{% endblock %}