{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
    <form method="POST" action="">
      {{ form.hidden_tag()}}
      <div class="form-group">
        <fieldset class="form-group">
          <div class="form-group">
            {{ form.workername.label(class="form-control-label")}}
            {{ form.workername(class="form-control form-control-lg") }}
            {% if form.workername.errors %}
            <div class="invalid-feedback">
              {% for error in form.workername.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.starttime_hour.label()}}
            {{ form.starttime_hour() }}
            {{ form.starttime_minutes.label()}}
            {{ form.starttime_minutes() }}
          </div>
          <div class="form-group">
            {{ form.endtime_hour.label()}}
            {{ form.endtime_hour() }}
            {{ form.endtime_minutes.label()}}
            {{ form.endtime_minutes() }}
          </div>
        </fieldset>
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
  </div>
{% endblock %}