{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
    <form method="POST" action="">
      <legend>新規作成</legend>
      {{ form.hidden_tag()}}
      <div class="form-group">
        <fieldset class="form-group">
          <div class="form-group">
            {{ form.workername.label(class="form-control-label")}}
            {{ form.workername(class="form-control form-control-lg") }}
            {% if form.workername.errors %}
            <div class="invalid-feedback">
              {% for error in form.workername.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="day">
            {{ form.Sun.label() }}
            <input type="checkbox" class="check" name="Sun" value="True">
            <div class="check-appear">
              <div class="form-group time">
                {{ form.Sunstarttime.label()}}
                {{ form.Sunstarttime() }}
                
              </div>
              <div class="form-group time">
                {{ form.Sunendtime.label()}}
                {{ form.Sunendtime() }}
              </div>
            </div>
          </div>
          <div class="day">
            {{ form.Mon.label() }}
            <input type="checkbox" class="check" name="Mon" value="True">
            <div class="check-appear">
              <div class="form-group time">
                {{ form.Monstarttime.label()}}
                {{ form.Monstarttime() }}
              </div>
              <div class="form-group time">
                {{ form.Monendtime.label()}}
                {{ form.Monendtime() }}
              </div>
            </div>
          </div>
          <div class="day">
            {{ form.Tue.label() }}
            <input type="checkbox" class="check" name="Tue" value="True">
            <div class="check-appear">
              <div class="form-group time">
                {{ form.Tuestarttime.label()}}
                {{ form.Tuestarttime() }}
              </div>
              <div class="form-group time">
                {{ form.Tueendtime.label()}}
                {{ form.Tueendtime() }}
              </div>
            </div>
          </div>
          <div class="day">
            {{ form.Wed.label() }}
            <input type="checkbox" class="check" name="Wed" value="True">
            <div class="check-appear">
              <div class="form-group time">
                {{ form.Wedstarttime.label()}}
                {{ form.Wedstarttime() }}
              </div>
              <div class="form-group time">
                {{ form.Wedendtime.label()}}
                {{ form.Wedendtime() }}
              </div>
            </div>
          </div>
          <div class="day">
            {{ form.Thu.label() }}
            <input type="checkbox" class="check" name="Thu" value="True">
            <div class="check-appear">
              <div class="form-group time">
                {{ form.Thustarttime.label()}}
                {{ form.Thustarttime() }}
              </div>
              <div class="form-group time">
                {{ form.Thuendtime.label()}}
                {{ form.Thuendtime() }}
              </div>
            </div>
          </div>
          <div class="day">
            {{ form.Fri.label() }}
            <input type="checkbox" class="check" name="Fri" value="True">
            <div class="check-appear">
              <div class="form-group time">
                {{ form.Fristarttime.label()}}
                {{ form.Fristarttime() }}
              </div>
              <div class="form-group time">
                {{ form.Friendtime.label()}}
                {{ form.Friendtime() }}
              </div>
            </div>
          </div>
          <div class="day">
            {{ form.Sat.label() }}
            <input type="checkbox" class="check" name="Sat" value="True">
            <div class="check-appear">
              <div class="form-group time">
                {{ form.Satstarttime.label()}}
                {{ form.Satstarttime() }}
              </div>
              <div class="form-group time">
                {{ form.Satendtime.label()}}
                {{ form.Satendtime() }}
              </div>
            </div>
          </div>
          
        </fieldset>
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
  </div>
{% endblock %}

