{% extends "layout.html" %}
{% block content %}
  <table class="table table-bordered content-section table-responsive">
    <legend>従業員</legend>
    <thead>
      <tr>
        <th scope="col">名前</th>
        <th scope="col">日</th>
        <th scope="col">月</th>
        <th scope="col">火</th>
        <th scope="col">水</th>
        <th scope="col">木</th>
        <th scope="col">金</th>
        <th scope="col">土</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for worker in workers: %}
      <tr>
        <td>
          <a href="{{ url_for('worker_detail',id=worker.id) }}" class="card-link">
            {{ worker.workername }}
          </a>
        </td>
        {% if worker.Sun %}
        <td>{{ worker.Sunstarttime.strftime('%H:%M')}}〜{{ worker.Sunendtime.strftime('%H:%M') }}</td>
        {% else: %}
        <td class="holiday"></td>
        {% endif %}
        {% if worker.Mon %}
        <td>{{ worker.Monstarttime.strftime('%H:%M')}}〜{{ worker.Monendtime.strftime('%H:%M') }}</td>
        {% else: %}
        <td class="holiday"></td>
        {% endif %}
        {% if worker.Tue %}
        <td>{{ worker.Tuestarttime.strftime('%H:%M')}}〜{{ worker.Tueendtime.strftime('%H:%M') }}</td>
        {% else: %}
        <td class="holiday"></td>
        {% endif %}
        {% if worker.Wed %}
        <td>{{ worker.Wedstarttime.strftime('%H:%M')}}〜{{ worker.Wedendtime.strftime('%H:%M') }}</td>
        {% else: %}
        <td class="holiday"></td>
        {% endif %}
        {% if worker.Thu %}
        <td>{{ worker.Thustarttime.strftime('%H:%M')}}〜{{ worker.Thuendtime.strftime('%H:%M') }}</td>
        {% else: %}
        <td class="holiday"></td>
        {% endif %}
        {% if worker.Fri %}
        <td>{{ worker.Fristarttime.strftime('%H:%M')}}〜{{ worker.Friendtime.strftime('%H:%M') }}</td>
        {% else: %}
        <td class="holiday"></td>
        {% endif %}
        {% if worker.Sat %}
        <td>{{ worker.Satstarttime.strftime('%H:%M')}}〜{{ worker.Satendtime.strftime('%H:%M') }}</td>
        {% else: %}
        <td class="holiday"></td>
        {% endif %}
        <td>
          <div class="btn-group">
            <form action="{{ url_for('edit_worker',id = worker.id)}}" method="GET">
              <button type="submit" class="btn btn-secondary">編集</button>
            </form>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <form action="{{ url_for('new_worker')}}" method="GET">
    <button type="submit" class="btn btn-primary" style="margin-left: 5px;" style="margin-right: 5px;">新規作成</button>
  </form>
{% endblock %}
